/* Estilos gerais para a página */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
     overflow-x: hidden; /* Adiciona overflow-x: hidden para evitar o scroll horizontal */
}

/* Estilos da barra de navegação */
.navbar {
    display: flex;
    background: #03031f;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* Estilos com largura igual para todos os botões */
  .navbar a {
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin: 0 10px;
    /* Remove a largura fixa para todos os botões */
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar .logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .navbar a:hover {
    color: rgb(156, 156, 156);
  }
  
  
  /* Estilos da barra de pesquisa */
  .barra-pesquisa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 25px;
  }
  
  /* Estilize o campo de pesquisa */
  .barra-pesquisa-container input[type="text"] {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 5px; /* Reduz o espaçamento interno */
    width: 80%; /* Reduz a largura do campo de pesquisa */
    outline: none;
  }
  
  
  .barra-pesquisa-container input[type="text"]::placeholder {
    color: #999;
  }
  
  /* Estilize o botão de pesquisa */
  .barra-pesquisa-container button {
    background-color: #730d73;
    color: white;
    border: none;
    padding: 5px 10px; /* Reduz o espaçamento interno e a largura do botão */
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .barra-pesquisa-container button:hover {
    background-color: #531053;
  }


h1 {
    font-size: 20px;
    margin: 10px 0;
}

.content img {
    max-width: 200px;
    height: auto;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.favto {
  text-align: center; /* Centraliza o texto */
  font-size: 24px; /* Define o tamanho da fonte */
  font-weight: bold; /* Define a espessura da fonte como negrito */
  color: #000000; /* Define a cor do texto */
}
